<header class="header">
    <h1>Roman & Arabic numerals conversion</h1>
  <h3><b>Roman numerals</b> originated in ancient <b>Rome</b> and remained the usual way of writing numbers throughout Europe well into the Late Middle Ages.</h3>
</header>

<section class="primary-bg">
  <app-input-with-system [value]="value" (valueChanged)="valueChange($event)" [systems]="systems" [system]="system" (systemSelected)="systemSelected($event)"></app-input-with-system>

  <app-error *ngIf="value.length > 0" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value.length > 0 && !error">
    <app-result [single]="true" [result]="result"></app-result>
  </div>
</section>

<app-info>
  <b>Numbers</b> in Roman system are represented by combinations of letters from the <b>Latin</b> alphabet. <b>Roman numerals</b>, as used today, are based on seven symbols:<br />
  <table class="data-table">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>I</td>
      <td>1</td>
    </tr>
    <tr>
      <td>V</td>
      <td>5</td>
    </tr>
    <tr>
      <td>X</td>
      <td>10</td>
    </tr>
    <tr>
      <td>L</td>
      <td>50</td>
    </tr>
    <tr>
      <td>C</td>
      <td>100</td>
    </tr>
    <tr>
      <td>D</td>
      <td>500</td>
    </tr>
    <tr>
      <td>M</td>
      <td>1000</td>
    </tr>
    </tbody>
  </table>
  <br />

  Symbols are placed from <b>left to right</b> in order of value, starting with the <b>largest</b>.<br />
  However, in a few specific cases, to avoid four characters being repeated in succession (such as IIII or XXXX),
  subtractive notation is used, as in this table:<br />

  <table class="data-table">
    <thead>
    <tr>
      <th>Symbol</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>IV</td>
      <td>4</td>
    </tr>
    <tr>
      <td>IX</td>
      <td>9</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>40</td>
    </tr>
    <tr>
      <td>XC</td>
      <td>90</td>
    </tr>
    <tr>
      <td>CD</td>
      <td>400</td>
    </tr>
    <tr>
      <td>CM</td>
      <td>900</td>
    </tr>
    </tbody>
  </table><br />

  For example - numbers from 1 to 10:<br />
  <b>I</b>,
  <b>II</b>,
  <b>III</b>,
  <b>IV</b>,
  <b>V</b>,
  <b>VI</b>,
  <b>VII</b>,
  <b>VIII</b>,
  <b>IX</b>,
  <b>X</b>.
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
