<header class="header">
  <h1>Arithmetic operations</h1>
  <h3>Arithmetic operations (addition, subtraction, multiplication, division, modulus) of 2 numbers.</h3>
</header>

<section class="primary-bg">
  <div class="input-box input-group">
    <input class="form-control" placeholder="Your first Value" [(ngModel)]="value[0]" (ngModelChange)="valueChange(0)"/>

    <div class="input-group-btn" ngbDropdown>
      <button ngbDropdownToggle type="button" class="btn btn-secondary">
        ({{systems[system[0]].nr}}) {{systems[system[0]].name}}
        <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownManual">
        <button *ngFor="let s of systems; let i = index" role="menuitem" class="dropdown-item" (click)="systemSelected(i, 0)">({{s.nr}}) {{s.name}}</button>
      </div>
    </div>
  </div>

  <div class="operation-box row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-warning" id="dropdownOperation" ngbDropdownToggle>{{operation ? operation.name : 'Choose operation'}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownOperation">
        <button *ngFor="let o of operations" class="dropdown-item" (click)="operationSelected(o)">{{o.name}}</button>
      </div>
    </div>
  </div>

  <div class="input-box input-group">
    <input class="form-control" placeholder="Your second Value" [(ngModel)]="value[1]" (ngModelChange)="valueChange(1)"/>

    <div class="input-group-btn" ngbDropdown>
      <button ngbDropdownToggle type="button" class="btn btn-secondary">
        ({{systems[system[1]].nr}}) {{systems[system[1]].name}}
        <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownManual">
        <button *ngFor="let s of systems; let i = index" role="menuitem" class="dropdown-item" (click)="systemSelected(i, 1)">({{s.nr}}) {{s.name}}</button>
      </div>
    </div>
  </div>

  <app-error *ngIf="value[0].length > 0 && value[1].length > 0 && operation" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value[0].length > 0 && value[1].length > 0 && operation && !error">
    <app-result [results]="results" [warningIf]="operation==='div'"
                [warning]="'Warning: result is rounded downwards to an integer.'"></app-result>
  </div>
</section>

<app-info [title]="'Binary addition'">
  <b>Binary addition</b> is much like your normal everyday addition (decimal addition), except that it carries on a value of 2 instead of a value of 10.<br />
  For example: in decimal addition, if you add 8 + 4 you get "12", which is 2 and carry = 1.<br />
  Same thing happens in binary addition, if you add 1 + 1 you get "10" - which is 0 and carry = 1.<br />
  <table class="data-table">
    <thead>
      <tr>
        <th>x</th>
        <th>y</th>
        <th>x + y</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>10 (0, carry = 1)</td>
    </tr>
    </tbody>
  </table><br />

  For example:<br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-addition.png" width="212" height="159" alt="Binary addition - example"/>
</app-info>

<app-info [title]="'Binary subtraction'">
  <table class="data-table">
    <thead>
      <tr>
        <th>x</th>
        <th>y</th>
        <th>x - y</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1 (from carry)</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    </tbody>
  </table><br />

  For example:<br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-subtraction.png" width="212" height="159" alt="Binary subtraction - example"/>
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
