<header class="header">
  <h1>Arithmetic operations</h1>
  <h3>Arithmetic operations (addition, subtraction, multiplication, division, modulus) of 2 numbers.</h3>
</header>

<section class="primary-bg">
  <app-input-with-system [(value)]="value[0]"
                         (valueChange)="valueChange(0)"
                         [systems]="systems"
                         [(system)]="system[0]"
                         (systemChange)="systemSelected(0)"
                         [displaySystemNumber]="true">
  </app-input-with-system>

  <app-operation-select [operations]="operations"
                        [(operation)]="operation"
                        (operationChange)="operationSelected($event)">
  </app-operation-select>

  <app-input-with-system [(value)]="value[1]"
                         (valueChange)="valueChange(1)"
                         [systems]="systems"
                         [(system)]="system[1]"
                         (systemChange)="systemSelected(1)"
                         [displaySystemNumber]="true">
  </app-input-with-system>

  <app-error *ngIf="value[0].length > 0 && value[1].length > 0 && operation" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value[0].length > 0 && value[1].length > 0 && operation && !error">
    <app-result [results]="results"
                [warningIf]="operation==='div'"
                [warning]="'Warning: result is rounded downwards to an integer.'"></app-result>
  </div>
</section>

<app-info [title]="'Binary addition'">
  <b>Binary addition</b> is much like your normal everyday addition (decimal addition), except that it carries on a value of 2 instead of a value of 10.<br />
  For example: in decimal addition, if you add 8 + 4 you get "12", which is 2 and carry = 1.<br />
  Same thing happens in binary addition, if you add 1 + 1 you get "10" - which is 0 and carry = 1.<br />
  <table class="data-table">
    <thead>
      <tr>
        <th>x</th>
        <th>y</th>
        <th>x + y</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>10 (0, carry = 1)</td>
    </tr>
    </tbody>
  </table><br />

  For example:<br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-addition.png" width="212" height="159" alt="Binary addition - example"/>
</app-info>

<app-info [title]="'Binary subtraction'">
  <table class="data-table">
    <thead>
      <tr>
        <th>x</th>
        <th>y</th>
        <th>x - y</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1 (from carry)</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    </tbody>
  </table><br />

  For example:<br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-subtraction.png" width="212" height="159" alt="Binary subtraction - example"/>
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
