<header class="header">
  <h1>Number systems conversion</h1>
  <h3>In mathematical numeral systems the <b>base</b> or radix is usually the <b>number of unique digits</b>,
    including zero, that a positional numeral system uses to represent numbers.</h3>
</header>

<section class="primary-bg">
  <app-input-with-system [(value)]="value"
                         [systems]="systems"
                         [(system)]="system"
                         [displaySystemNumber]="true">
  </app-input-with-system>

  <app-error *ngIf="value.length > 0" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value.length > 0 && !error">
    <app-result [results]="results"></app-result>
  </div>
</section>

<app-info [title]="'Numeral systems'" itemscope itemtype="http://schema.org/Article" itemref="_author1 _image11">
  A digit is what is used as a position in place-value notation, and a numeral is one or more digits.<br />
  Today's most common digits are the decimal digits "0", "1", "2", "3", "4", "5", "6", "7", "8", and "9". <br />
  The distinction between a digit and a numeral is most pronounced in the context of a number base.<br />
  <br />
  In base-10 (decimal) positional notation, there are 10 decimal digits, eg.:<br />
  <img id="_image11" itemprop="image" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/c6617450f44e84f579d7ac171b8368669cf8e04b" width="368" height="23" alt="base-10 example"/><br /><br />
  In base-16 (hexadecimal), there are 16 hexadecimal digits (0–9 and A–F), eg.:<br />
  <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/3654dfcecab0ab4484518cc0654d3f340e46bcdf" width="373" height="23" alt="base-16 example"/> (B is 11)<br /><br />
  In general, in base-b, there are b digits, eg.:<br />
  <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/783b50aec4601646f52ce60f279ef65907b9f781" width="380" height="23" alt="base-b example"/><br />
</app-info>

<app-info [title]="'Binary system'" itemscope itemtype="http://schema.org/Article" itemref="_author1 _image12">
  <h3>To convert decimal to binary</h3>

  1. Divide the decimal number by 2<br />

  2a. If there IS a remainder the rightmost column will be a 1.<br />
  2b. If there is NO remainder, the rightmost column will be a 0.<br />
  3. Then repeat the process, moving one column to the left each time until you have divided down to 1.<br />

  <img id="_image12" itemprop="image" src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/dec-to-bin.png" width="133" height="213" alt="decimal to binary - example"/>

  <br />
  <table class="data-table">
    <tr><th>Decimal</th><th>Binary</th><th>Decimal</th><th>Binary</th></tr>
    <tr><td>0</td><td>0000</td><td>8</td><td>1000</td></tr>
    <tr><td>1</td><td>0001</td><td>9</td><td>1001</td></tr>
    <tr><td>2</td><td>0010</td><td>10</td><td>1010</td></tr>
    <tr><td>3</td><td>0011</td><td>11</td><td>1011</td></tr>
    <tr><td>4</td><td>0100</td><td>12</td><td>1100</td></tr>
    <tr><td>5</td><td>0101</td><td>13</td><td>1101</td></tr>
    <tr><td>6</td><td>0110</td><td>14</td><td>1110</td></tr>
    <tr><td>7</td><td>0111</td><td>15</td><td>1111</td></tr>
  </table>
</app-info>

<app-info [title]="'Binary to Octal'" itemscope itemtype="http://schema.org/Article" itemref="_author1">
  To convert <b>Binary number to Octal numeral system</b>, you need to split your Binary string every <b>3 signs from right to left</b>.<br />
  Then you convert every 3-sign binary part to octal, just like in conversion from decimal to binary.<br />

  <table class="data-table">
    <tr><th>Binary</th><th>Octal</th></tr>
    <tr><td>000</td><td>0</td></tr>
    <tr><td>001</td><td>1</td></tr>
    <tr><td>010</td><td>2</td></tr>
    <tr><td>011</td><td>3</td></tr>
    <tr><td>100</td><td>4</td></tr>
    <tr><td>101</td><td>5</td></tr>
    <tr><td>110</td><td>6</td></tr>
    <tr><td>111</td><td>7</td></tr>
  </table>
  <br />
  <b>Example:</b><br />
  Your number: 1110110111<br />
  Split it: 1 110 110 111<br />
  Convert like in table: 1 6 6 7<br />
  Result: <b>1667</b>
</app-info>

<app-info [title]="'Binary to Hexadecimal'" itemscope itemtype="http://schema.org/Article" itemref="_author1">
  Conversion from <b>Binary to Hexadecimal</b> numeral system is the same as conversion from Binary to Octal, <br />but you split every <b>4 signs</b> instead of <b>3</b>.<br />

  <table class="data-table">
    <tr><th>Binary</th><th>Hexadecimal</th></tr>
    <tr><td>0000</td><td>0</td></tr>
    <tr><td>0001</td><td>1</td></tr>
    <tr><td>0010</td><td>2</td></tr>
    <tr><td>0011</td><td>3</td></tr>
    <tr><td>0100</td><td>4</td></tr>
    <tr><td>0101</td><td>5</td></tr>
    <tr><td>0110</td><td>6</td></tr>
    <tr><td>0111</td><td>7</td></tr>
    <tr><td>1000</td><td>8</td></tr>
    <tr><td>1001</td><td>9</td></tr>
    <tr><td>1010</td><td>A</td></tr>
    <tr><td>1011</td><td>B</td></tr>
    <tr><td>1100</td><td>C</td></tr>
    <tr><td>1101</td><td>D</td></tr>
    <tr><td>1110</td><td>E</td></tr>
    <tr><td>1111</td><td>F</td></tr>
  </table>

  <br />
  <b>Example:</b><br />
  Your number: 1110110111<br />
  Split it: 11 1011 0111<br />
  Convert like in table: 3 B 7<br />
  Result: <b>3B7</b>

</app-info>

<app-info [title]="'Any base to decimal'" itemscope itemtype="http://schema.org/Article" itemref="_author1 _image13">
  1. Under every digit, starting from right, write down it's base to the power of this digit's position.<br />
  2. Multiply digit and and written down base.<br />
  3. Sum it all.<br />

  <img id="_image13" itemprop="image" src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/bin-to-dec.png" width="323" height="191" alt="binary to decimal - example"/>
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
