<div class="input-box input-group">
  <input class="form-control" placeholder="{{placeholder}}" [(ngModel)]="value" (ngModelChange)="setValue()"/>

  <div class="input-group-btn" ngbDropdown *ngIf="hasBitSelect">
    <button ngbDropdownToggle type="button" class="btn btn-secondary">
      {{bits}} bits ({{bits/8}} bytes)
      <span class="caret"></span>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <button *ngFor="let b of bitsArray" class="dropdown-item" (click)="bitsChange.emit(b)">{{b}} bits ({{b/8}} bytes)</button>
    </div>
  </div>

  <div class="input-group-btn" ngbDropdown>
    <button ngbDropdownToggle type="button" class="btn btn-secondary">
      <ng-container *ngIf="system >= 0">
        <ng-container *ngIf="displaySystemNumber">({{systems[system].nr}})</ng-container> {{systems[system].name}}
      </ng-container>

      <ng-container *ngIf="system == -1">auto detect</ng-container>
      <span class="caret"></span>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <button *ngFor="let s of systems; let i = index" class="dropdown-item" (click)="setSystem(i)">
        <ng-container
          *ngIf="displaySystemNumber">({{s.nr}})</ng-container> {{s.name}}
      </button>
    </div>
  </div>
</div>
