.color {
  height: 150px;
  border-radius: 5px;
  margin-top: 10px;
}

.color-palette {
  width: 100%;

  tr {
    border: 3px solid;

    &:hover {
      background-color: transparent !important;
      color: #000000 !important;
    }

    th {
      background-color: inherit;
      padding: 3px 30px;
    }
  }
}

img {
  max-width: 100%;
}

a > img {
  cursor: pointer;
}
