<div class="panel">
  <a routerLink="/number-system-converter" routerLinkActive="active">Number System Conversions</a>
  <a routerLink="/color-converter" routerLinkActive="active">Color Conversions</a>
  <a routerLink="/negative-numbers" routerLinkActive="active">Negative numbers</a>
  <a routerLink="/arithmetic-operations" routerLinkActive="active">Arithmetic operations</a>
  <a routerLink="/binary-operations" routerLinkActive="active">Binary operations</a>
  <a routerLink="/roman-numerals" routerLinkActive="active">Roman numerals</a>
</div>
