<header class="header">
  <h1>Binary operations</h1>
  <h3>In mathematics, a <b>binary operation</b> on a set is a calculation that combines two elements of the set (called operands) to produce another element of the set. In this calculator you can perform AND, OR and XOR operations.</h3>
</header>

<section class="primary-bg">
  <app-input-with-system [(value)]="value[0]"
                         (valueChange)="valueChange(0)"
                         [systems]="systems"
                         [(system)]="system[0]"
                         (systemChange)="systemSelected(0)"
                         [displaySystemNumber]="true">
  </app-input-with-system>

  <app-operation-select [operations]="operations"
                        [(operation)]="operation">
  </app-operation-select>

  <app-input-with-system [(value)]="value[1]"
                         (valueChange)="valueChange(1)"
                         [systems]="systems"
                         [(system)]="system[1]"
                         (systemChange)="systemSelected(1)"
                         [displaySystemNumber]="true">
  </app-input-with-system>

  <app-error *ngIf="value[0].length > 0 && value[1].length > 0 && operation" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value[0].length > 0 && value[1].length > 0 && operation && !error">
    <app-result [results]="results"></app-result>
  </div>
</section>

<app-info [title]="'AND (x & y)'">
  <b>AND operation</b> means that only when all(2) input variables must be <b>1</b>, only then result is <b>1</b>.
  <br />
  <table class="data-table">
    <tr>
      <th>x</th>
      <th>y</th>
      <th>x & y</th>
    </tr>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </table>
  <br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-and.png" width="268" height="156" alt="AND - binary operation - example"/>
</app-info>

<app-info [title]="'OR (x | y)'">
  <b>OR operation</b> means that whether any input variable is <b>1</b> then result is <b>1</b>.
  <br />
  <table class="data-table">
    <tr>
      <th>x</th>
      <th>y</th>
      <th>x | y</th>
    </tr>
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </table>
  <br />
  <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/binary-or.png" width="268" height="156" alt="OR - binary operation - example"/>
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
