<header class="header">
  <h1>Negative numbers representation</h1>
  <h3>Representation of negative numbers (signed magnitude, ones' complement, two's complement representations)</h3>
</header>

<section class="primary-bg">
  <div class="input-box input-group">
    <input class="form-control" placeholder="Your Value" [(ngModel)]="value" (ngModelChange)="valueChange()"/>

    <div class="input-group-btn" ngbDropdown>
      <button ngbDropdownToggle type="button" class="btn btn-secondary">
        {{bits}} bits ({{bits/8}} bytes)
        <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownManual">
        <button *ngFor="let b of bitsArray" role="menuitem" class="dropdown-item" (click)="bitsSelected(b)">{{b}} bits ({{b/8}} bytes)</button>
      </div>
    </div>

    <div class="input-group-btn" ngbDropdown>
      <button ngbDropdownToggle type="button" class="btn btn-secondary">
        ({{systems[system].nr}}) {{systems[system].name}}
        <span class="caret"></span>
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownManual">
        <button *ngFor="let s of systems; let i = index" role="menuitem" class="dropdown-item" (click)="systemSelected(i)">({{s.nr}}) {{s.name}}</button>
      </div>
    </div>
  </div>

  <app-error *ngIf="value.length > 0" [error]="error"></app-error>

  <div class="result-box row" *ngIf="value.length > 0 && !error">
    <app-result *ngFor="let r of results" [title]="r.name" [results]="r.data" [error]="r.error"></app-result>
  </div>
</section>

<app-info [title]="'Signed magnitude representation'">
  This representation is also called "sign–magnitude" or "sign and magnitude" representation.<br />
  In this approach, the problem of representing a number's sign can be to allocate <b>one sign bit</b> to represent the sign:<br />
  setting that bit (often the most significant bit) to <b>0 is for a positive number</b> or positive zero, and setting it to <b>1 is for a negative number</b> or negative zero.<br />

  <table class="data-table">
    <tr>
      <th>8</th>
      <td class="courier"><b>0</b>000 1000</td>
      <th>-8</th>
      <td class="courier"><b>1</b>000 1000</td>
    </tr>
    <tr>
      <th>7</th>
      <td class="courier"><b>0</b>111</td>
      <th>-7</th>
      <td class="courier"><b>1</b>111</td>
    </tr>
    <tr>
      <th>6</th>
      <td class="courier"><b>0</b>110</td>
      <th>-6</th>
      <td class="courier"><b>1</b>110</td>
    </tr>
    <tr>
      <th>5</th>
      <td class="courier"><b>0</b>101</td>
      <th>-5</th>
      <td class="courier"><b>1</b>101</td>
    </tr>
    <tr>
      <th>4</th>
      <td class="courier"><b>0</b>100</td>
      <th>-4</th>
      <td class="courier"><b>1</b>100</td>
    </tr>
    <tr>
      <th>3</th>
      <td class="courier"><b>0</b>011</td>
      <th>-3</th>
      <td class="courier"><b>1</b>011</td>
    </tr>
    <tr>
      <th>2</th>
      <td class="courier"><b>0</b>010</td>
      <th>-2</th>
      <td class="courier"><b>1</b>010</td>
    </tr>
    <tr>
      <th>1</th>
      <td class="courier"><b>0</b>001</td>
      <th>-1</th>
      <td class="courier"><b>1</b>001</td>
    </tr>
    <tr>
      <th>0</th>
      <td class="courier"><b>0</b>000</td>
      <th>-0</th>
      <td class="courier"><b>1</b>000</td>
    </tr>
  </table>
</app-info>

<app-info [title]="'Ones\' Complement'">
  The ones' complement form of a negative binary number is the <b>bitwise NOT</b> applied to it, i.e. the "complement" of its positive counterpart.<br />

  <h4>NEGATIVE = NOT(X)</h4>

  <table class="data-table">
    <tr>
      <th>8</th>
      <td class="courier">0000 1000</td>
      <th>-8</th>
      <td class="courier">1111 0111</td>
    </tr>
    <tr>
      <th>7</th>
      <td class="courier">0111</td>
      <th>-7</th>
      <td class="courier">1000</td>
    </tr>
    <tr>
      <th>6</th>
      <td class="courier">0110</td>
      <th>-6</th>
      <td class="courier">1001</td>
    </tr>
    <tr>
      <th>5</th>
      <td class="courier">0101</td>
      <th>-5</th>
      <td class="courier">1010</td>
    </tr>
    <tr>
      <th>4</th>
      <td class="courier">0100</td>
      <th>-4</th>
      <td class="courier">1011</td>
    </tr>
    <tr>
      <th>3</th>
      <td class="courier">0011</td>
      <th>-3</th>
      <td class="courier">1100</td>
    </tr>
    <tr>
      <th>2</th>
      <td class="courier">0010</td>
      <th>-2</th>
      <td class="courier">1101</td>
    </tr>
    <tr>
      <th>1</th>
      <td class="courier">0001</td>
      <th>-1</th>
      <td class="courier">1110</td>
    </tr>
    <tr>
      <th>0</th>
      <td class="courier">0000</td>
      <th>-0</th>
      <td class="courier">1111</td>
    </tr>
  </table>
</app-info>

<app-info [title]="'Two\'s Complement'">
  In two's complement, negative numbers are represented by the bit pattern which is <b>one greater</b> (in an unsigned sense) than the ones' complement of the positive value.<br />
  There is no negative zero in two's complement.<br />

  <h4>NEGATIVE = NOT(X) + 1</h4>

  <table class="data-table">
    <tr>
      <th>8</th>
      <td class="courier"><b>0000</b> 1000</td>
      <th>-8</th>
      <td class="courier">1000</td>
    </tr>
    <tr>
      <th>7</th>
      <td class="courier">0111</td>
      <th>-7</th>
      <td class="courier">1001</td>
    </tr>
    <tr>
      <th>6</th>
      <td class="courier">0110</td>
      <th>-6</th>
      <td class="courier">1010</td>
    </tr>
    <tr>
      <th>5</th>
      <td class="courier">0101</td>
      <th>-5</th>
      <td class="courier">1011</td>
    </tr>
    <tr>
      <th>4</th>
      <td class="courier">0100</td>
      <th>-4</th>
      <td class="courier">1100</td>
    </tr>
    <tr>
      <th>3</th>
      <td class="courier">0011</td>
      <th>-3</th>
      <td class="courier">1101</td>
    </tr>
    <tr>
      <th>2</th>
      <td class="courier">0010</td>
      <th>-2</th>
      <td class="courier">1110</td>
    </tr>
    <tr>
      <th>1</th>
      <td class="courier">0001</td>
      <th>-1</th>
      <td class="courier">1111</td>
    </tr>
    <tr>
      <th>0</th>
      <td class="courier">0000</td>
      <th>-0</th>
      <td class="courier">-</td>
    </tr>
  </table>
</app-info>

<app-tag-cloud [tags]="tags"></app-tag-cloud>
