<div class="container">
  <header class="row logo" itemscope itemtype="http://schema.org/Article" itemref="_author1 _image5">
    <img src="https://c19y2fqn.cloudimg.io/s/cdn/x/http://binary-calc.com/assets/img/logo.png" alt="logo"/>
    <h1 itemprop="name">Binary Calculator</h1>
    <h2>Numeral system conversions, RGB, CMYK, HSL conversions, binary & arithmetic operations, Negative number representations, Roman & Arabic numerals.</h2>
  </header>

  <div class="row">
    <div class="col-md-3">
      <app-menu></app-menu>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="fb-like" data-href="https://www.facebook.com/binarycalc/" data-width="250" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
          <div class="fb-share-button" data-href="http://binary-calc.com" data-layout="box_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbinary-calc.com%2F&amp;src=sdkpreparse">Share</a></div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="panel row">
        <router-outlet></router-outlet>
        <div class="fb-comments" data-href="http://binary-calc.com" data-width="100%" data-numposts="5" *ngIf="ENV == 'production'"></div>
      </div>
    </div>
  </div>

  <footer class="row" id="_author1" itemprop="author" itemscope itemtype="http://schema.org/Person">
    Copyright © 2017 by <a href="https://github.com/argeath" class="btn btn-secondary" itemprop="name">Dominik Kinal</a>
    <span *ngIf="ENV != 'production'">{{ENV}}</span>
  </footer>
</div>
