.logo {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 150px;
    height: auto;
  }

  h1, h2 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 12px;
  }
}

footer {
  padding: 50px 0 20px 0;
  align-content: center;
  justify-content: center;

  a {
    margin: -5px 25px 0;
  }
}

.panel {
  @media (max-width: 600px) {
    padding: 12px 15px;
  }

  @media (min-width: 601px) {
    padding: 12px 23px;
  }
}

.fb-comments {
  width: 100%;
}
